<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h4>Sobre o App</h4>
    <p>Aplicativo desenvolvido com o intuito de auxiliar com o Gerenciamento de Produtos, permitindo um controle/gestão de Produtos de uma forma fácil e prática na palma da sua mão.</p>

    <h4>Recursos</h4>
    <p>Funcionalidades do PRODEX até o momento:</p>
    <ul>
      <li>Cadastro de Produtos (cadastro, edição, exclusão).</li>
      <li>Controle de Produtos por Preço</li>
      <li>Controle de Favoritos</li>
    </ul>
  </div>
</ion-content>
