h2, h3, h4 {
  display: block;
  margin: 0.25rem;
}

.platforms {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

h2 {
  padding-top: 1rem;
}

.game-info {
  padding-bottom: 0.75rem;
}
